In [0]:
import numpy as np
import pandas as pd

In [171]:
from google.colab import files
uploaded = files.upload()

Saving car_x_y_train.csv to car_x_y_train (1).csv
Saving cars_test.csv to cars_test.csv

In [240]:
df = pd.read_csv('car_x_y_train.csv')
dft = pd.read_csv('cars_test.csv')
dft.shape

(74306, 19)

1. dateCrawled : when this ad was first crawled, all field-values are taken from this date
2. name : "name" of the car
3. seller : private or dealer
4. offerType
5. price : the price on the ad to sell the car 
6. abtest
7. vehicleType
8. yearOfRegistration : at which year the car was first registered
9. gearbox
10. powerPS : power of the car in PS 
11. model
12. kilometer : how many kilometers the car has driven
13. monthOfRegistration : at which month the car was first registered
14. fuelType
15. brand
16. notRepairedDamage : if the car has a damage which is not repaired yet
17. dateCreated : the date for which the ad at ebay was created
18. nrOfPictures : number of pictures in the ad 
postalCode
19. lastSeenOnline : when the crawler saw this ad last online

In [0]:
del df['dateCrawled']
del df['name']
del df['dateCreated']
del df['postalCode']
del df['nrOfPictures']
del df['lastSeen']

In [0]:
del dft['dateCrawled']
del dft['name']
del dft['dateCreated']
del dft['postalCode']
del dft['nrOfPictures']
del dft['lastSeen']

In [243]:
print(df.groupby('seller').size())

seller
gewerblich         2
privat        297220
dtype: int64

In [0]:
df = df[df.seller != 'gewerblich']
del df['seller']

In [245]:
print(df.groupby('offerType').size())

offerType
Angebot    297212
Gesuch          8
dtype: int64

In [246]:
df = df[df.offerType != 'Gesuch']
del df["offerType"]
del dft["offerType"]
del dft['seller']
df.head()

,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,price
0,control,NaN,2016,manuell,80,punto,150000,0,benzin,fiat,NaN,1050
1,control,cabrio,2008,manuell,116,cooper,90000,6,benzin,mini,nein,12900
2,control,kombi,2005,manuell,90,combo,150000,9,benzin,opel,nein,4500
3,test,kleinwagen,1997,manuell,0,polo,150000,7,benzin,volkswagen,NaN,1000
4,test,kleinwagen,2002,manuell,75,twingo,150000,0,NaN,renault,NaN,1250

In [0]:
del df["abtest"]
del dft["abtest"]

In [0]:
df = df[df.price != 0]

In [0]:
df = df[(df.powerPS > 0) & (df.powerPS < 1000)]

In [0]:
df = df[(df.yearOfRegistration >= 1886) & (df.yearOfRegistration <= 2018)]

In [251]:
print(df.shape)
print(dft.shape)
dft.head(3)

(258630, 11)
(74306, 10)

,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,bus,1996,manuell,113,sharan,150000,12,diesel,volkswagen,nein
1,coupe,2007,automatik,306,3er,125000,2,benzin,bmw,nein
2,limousine,2004,manuell,150,golf,90000,7,benzin,volkswagen,nein

In [252]:
df.isnull().sum()

vehicleType            17299
yearOfRegistration         0
gearbox                 5055
powerPS                    0
model                  10489
kilometer                  0
monthOfRegistration        0
fuelType               16069
brand                      0
notRepairedDamage      38199
price                      0
dtype: int64

In [253]:
df["vehicleType"].fillna("Other", inplace=True)
df["gearbox"].fillna("Unspecified", inplace=True)
df["fuelType"].fillna("other",inplace=True)
df["notRepairedDamage"].fillna("other",inplace=True)
df["model"].fillna("Other",inplace=True)
df.isnull().sum()

vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
price                  0
dtype: int64

In [254]:
print("Vehicle",df.vehicleType.unique())
print("GearBox",df.gearbox.unique())
print("Model",df.model.unique())
print("Fuel",df.fuelType.unique())
print("Brand",df.brand.unique())
print("Damage",df.notRepairedDamage.unique())

Vehicle ['Other' 'cabrio' 'kombi' 'kleinwagen' 'limousine' 'coupe' 'bus' 'suv'
 'andere']
GearBox ['manuell' 'automatik' 'Unspecified']
Model ['punto' 'cooper' 'combo' 'twingo' 'golf' 'passat' 'a6' 'andere'
 'rx_reihe' '1er' 'polo' 'transporter' 'slk' 'Other' 'c1' 'bravo' '5er'
 'astra' 'a3' 'a4' 'mondeo' '3_reihe' 'clubman' 'r19' 'sprinter' 'fortwo'
 'fiesta' 'megane' 'impreza' 'spark' 'c_klasse' 'galaxy' 'kangoo' 'glk'
 'a_klasse' 'grand' 'vectra' 'fox' 'almera' 'z_reihe' 'clk' 'a5' 'lupo'
 'octavia' '911' 'one' '3er' 'focus' 'scenic' '7er' 'corsa' 'e_klasse'
 'clio' 'a8' 'yaris' 'm_reihe' 'touran' 'cordoba' 'micra' 'sandero'
 'insignia' '2_reihe' 'vito' 'up' '159' 'lancer' 'santa' '1_reihe' 'caddy'
 'meriva' 'pajero' 'arosa' 'mustang' 'q7' 'mx_reihe' 'x_reihe' 'ibiza'
 'verso' 'primera' 'ptcruiser' 'defender' 'm_klasse' 'scirocco' 's_klasse'
 'c5' 'duster' 'fusion' '6_reihe' 'fabia' 'sharan' 'logan' 'panda' 'ceed'
 'modus' 'cr_reihe' 'sportage' 'captiva' 'g_klasse' 'rav' 'c3' 'tt'
 'zafira' 'swift' 'citigo' 'laguna' '80' 's_type' 'phaeton' 'avensis'
 '500' 'b_klasse' 'kuga' 'corolla' 'sorento' 'altea' 'alhambra' 'civic'
 'touareg' 'v70' 'c2' 'carisma' 'beetle' 'q3' 'v50' 'ypsilon' 'calibra'
 'qashqai' 'c_reihe' 'roadster' 'tiguan' 'cherokee' 'sl' 'jetta' 'accord'
 'kalos' 'spider' '4_reihe' 'v40' 'vivaro' 'colt' 'omega' 'berlingo' 'a2'
 'ka' 'picanto' 'aygo' 'seicento' 'cuore' '156' 'cayenne' 'niva'
 'roomster' 'discovery' 'cx_reihe' '147' 'q5' 'kaefer' 'ducato' 'bora'
 'i_reihe' 'matiz' 'lanos' 'signum' 'transit' 'c_max' 'gl' '900' 'agila'
 'navara' 'aveo' 'escort' 'leon' 'wrangler' '90' '100' 'freelander' 'eos'
 'c4' 'getz' 's_max' 'cl' 'jimny' 'terios' '300c' 'a1' 'tigra' '6er'
 'stilo' 'forester' 'galant' 'yeti' 'cc' 'carnival' 'note' '601' '850'
 'kalina' 'xc_reihe' 'toledo' 'crossfire' 'v60' 'espace' 'antara' 'auris'
 's60' 'exeo' 'jazz' '5_reihe' 'serie_3' 'delta' 'superb' 'doblo'
 'voyager' 'v_klasse' 'range_rover' 'justy' 'outlander' 'croma' 'forfour'
 'x_trail' 'kadett' 'juke' 'viano' 'x_type' 'boxster' 'sirion' 'legacy'
 'rio' 'tucson' 'move' 'nubira' 'range_rover_sport' 'mii' 'amarok' 'lybra'
 'range_rover_evoque' 'elefantino' '145' 'musa' '9000' 'charade' '200'
 'rangerover' 'materia' 'b_max' 'kappa' 'serie_2' 'i3' 'samara' 'lodgy'
 'discovery_sport']
Fuel ['benzin' 'other' 'diesel' 'lpg' 'hybrid' 'cng' 'andere' 'elektro']
Brand ['fiat' 'mini' 'opel' 'renault' 'volkswagen' 'audi' 'mazda' 'bmw'
 'mercedes_benz' 'sonstige_autos' 'citroen' 'peugeot' 'ford' 'smart'
 'subaru' 'chevrolet' 'toyota' 'kia' 'suzuki' 'nissan' 'skoda' 'porsche'
 'seat' 'dacia' 'alfa_romeo' 'mitsubishi' 'hyundai' 'honda' 'chrysler'
 'land_rover' 'saab' 'volvo' 'jaguar' 'lancia' 'jeep' 'daewoo' 'daihatsu'
 'lada' 'rover' 'trabant']
Damage ['other' 'nein' 'ja']

In [255]:
dft["vehicleType"].fillna("Other", inplace=True)
dft["gearbox"].fillna("Unspecified", inplace=True)
dft["fuelType"].fillna("other",inplace=True)
dft["notRepairedDamage"].fillna("other",inplace=True)
dft["model"].fillna("Other",inplace=True)
dft["brand"].fillna("Other",inplace=True)
dft = dft.dropna()
dft.isna().sum()

vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [0]:
df['ageOfCar'] = (2018-df['yearOfRegistration'])*12 + (5- df['monthOfRegistration'])

In [0]:
dft['ageOfCar'] = (2018-dft['yearOfRegistration'])*12 + (5- dft['monthOfRegistration'])

In [0]:
del df['yearOfRegistration']
del dft['yearOfRegistration']

In [0]:
del df['monthOfRegistration']
del dft['monthOfRegistration']

In [260]:
df.head()

,vehicleType,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,price,ageOfCar
0,Other,manuell,80,punto,150000,benzin,fiat,other,1050,29
1,cabrio,manuell,116,cooper,90000,benzin,mini,nein,12900,119
2,kombi,manuell,90,combo,150000,benzin,opel,nein,4500,152
4,kleinwagen,manuell,75,twingo,150000,other,renault,other,1250,197
5,kombi,manuell,116,golf,150000,benzin,volkswagen,nein,1200,230

In [261]:
dft.head()

,vehicleType,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,ageOfCar
0,bus,manuell,113,sharan,150000,diesel,volkswagen,nein,257
1,coupe,automatik,306,3er,125000,benzin,bmw,nein,135
2,limousine,manuell,150,golf,90000,benzin,volkswagen,nein,166
3,kleinwagen,manuell,0,clio,150000,benzin,renault,other,235
4,suv,manuell,205,cooper,30000,benzin,mini,nein,90

In [262]:
print(df.groupby(['vehicleType','brand','model']).sum())

                                    powerPS  kilometer     price  ageOfCar
vehicleType brand      model
Other       alfa_romeo 145              400     600000      1299       446
                       147             5712    6765000     91121      2423
                       156             3236    3180000     19853      1877
                       159             1346    1100000     56449       363
                       Other           2519    2140000     54953      1608
                       andere          1194     950000     18249       897
                       spider           502     450000     17749       301
            audi       100             1664    1690000     27698      2136
                       80              8166   10890000     78738      9648
                       90               873    1025000     16697       400
                       Other          30858   26360000    853101     13070
                       a1              1569     820000    203450       196
                       a2              1181    2250000     55718       248
                       a3             59811   64390000   1829391     23407
                       a4             33392   32535000    910145     10088
                       a5              2836    1630000    269187       465
                       a6             22804   17620000    662532      5513
                       a8              5611    2830000    117551      1385
                       andere          2909    1070000     91915       485
                       q3               334      40000     30755        74
                       q5               539     135000    101800        85
                       q7              1449     850000    105499       178
                       tt              8482    5910000    351442      2342
            bmw        1er            15100   13260000    993455      3374
                       3er            90296   91540000   1950174     43303
                       5er            31465   23875000    937910     10944
                       6er             1457     750000     58900       781
                       7er             9010    4870000    218041      2704
                       Other          48304   41480000  11388801     20201
                       andere           962    1000000     28750      2131
...                                     ...        ...       ...       ...
suv         subaru     Other            395     330000      2699       836
                       andere           450     340000     23990       454
                       forester        3450    3020000    152501      4494
                       impreza          220      90000      4999       185
                       justy            454     630000      8729       933
                       legacy           315     275000      5333       390
            suzuki     Other           1137    1410000     39940      2539
                       andere         20499   27525000   1755274     61398
                       grand          21166   18475000   1352767     22701
                       jimny          11212   11965000    917799     18903
            toyota     Other            784     635000     67389      1435
                       andere         16395   11600000   1656104     20121
                       rav            37391   32160000   2034285     41965
            trabant    601               26      40000     14500        37
            volkswagen Other           2439    1895000    149540      2208
                       amarok          4577    1650000    675900      1898
                       andere          1904    2685000    220848     12721
                       caddy            945    1570000     50078      4056
                       golf            2084    2930000    118543      5093
                       kaefer            72     110000     35500      1089
                       passat           241     300000      8550       368
                       polo             131     300000      4840       409
                       sharan           250     300000      9400       393
                       tiguan        102751   58035000  12254665     57935
                       touareg       125593   69050000   8654805     67926
                       touran           485     600000     25649       573
                       transporter     1089    1580000    127280      3516
                       up                98     150000      8500       320
            volvo      andere           343     240000     22850      1539
                       xc_reihe       40431   26765000   3221642     25769

[1862 rows x 4 columns]

In [0]:
# onHot = ['vehicleType', 'gearbox','model', 'kilometer', 'fuelType',
#        'brand', 'notRepairedDamage']
# for c in onHot:
#     for var in set(df[c]):
#         for i in range(len(df[c])):
#             if df[c][i] == var:
#                 df[var][i] = 1

In [0]:
df['kilometer'] = df['kilometer']/10000

In [0]:
dft['kilometer'] = dft['kilometer']/10000

In [0]:
# for x in df.vehicleType.unique():
#     df[x]=(df.vehicleType==x).astype(int)
# for x in df.gearbox.unique():
#     df[x]=(df.gearbox==x).astype(int)
# for x in df.model.unique():
#     df[x]=(df.model==x).astype(int)
# for x in df.fuelType.unique():
#     df[x]=(df.fuelType==x).astype(int)
# for x in df.brand.unique():
#     df[x]=(df.brand==x).astype(int)
# for x in df.notRepairedDamage.unique():
#     df[x]=(df.notRepairedDamage==x).astype(int)

from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
df["model"] = lb_make.fit_transform(df['model'])
df["gearbox"] = lb_make.fit_transform(df['gearbox'])
df["fuelType"] = lb_make.fit_transform(df['fuelType'])
df["notRepairedDamage"] = lb_make.fit_transform(df['notRepairedDamage'])
df["vehicleType"] = lb_make.fit_transform(df['vehicleType'])
df["brand"] = lb_make.fit_transform(df['brand'])

In [0]:
lb_make = LabelEncoder()
dft["model"] = lb_make.fit_transform(dft['model'])
dft["gearbox"] = lb_make.fit_transform(dft['gearbox'])
dft["fuelType"] = lb_make.fit_transform(dft['fuelType'])
dft["notRepairedDamage"] = lb_make.fit_transform(dft['notRepairedDamage'])
dft["vehicleType"] = lb_make.fit_transform(dft['vehicleType'])
dft["brand"] = lb_make.fit_transform(dft['brand'])

In [0]:
#del df['vehicleType']
# del df['gearbox']
#del df['model']
# del df['fuelType']
#del df['brand']
#del df['notRepairedDamage']

In [0]:
df['Price'] = df['price']
del df['price']

In [269]:
df.shape

(258630, 10)

In [0]:
df = df[(df.Price > 0) & (df.Price < 1000000)]

In [271]:
print(df.shape)
dft.shape

(258597, 10)

(74306, 9)

In [0]:
df.to_csv("car_train_cleaned.csv",sep = ',')
dft.to_csv("car_test_cleaned.csv",sep = ',')

In [0]:
data = df.values

In [274]:
X = data[:,:-1]
Y = data[:,-1]
X.shape, Y.shape

((258597, 9), (258597,))

In [275]:

from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X,Y, random_state = 1, test_size = 0.4)
Xtrain

array([[  5.,   2.,  90., ...,  11.,   1., 325.],
       [  7.,   1., 177., ...,   2.,   1., 143.],
       [  2.,   2., 150., ...,  25.,   1.,  86.],
       ...,
       [  5.,   2., 192., ...,  24.,   1., 118.],
       [  7.,   2.,  90., ...,   1.,   2., 286.],
       [  7.,   1.,  55., ...,  22.,   1., 244.]])

Linear Regression

In [0]:
from sklearn.linear_model import LinearRegression
reg1 = LinearRegression()

In [277]:
reg1.fit(Xtrain, Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [278]:
reg1.score(Xtest,Ytest)

0.3384468735891961

 DecisionTreeRegressor

In [0]:
from sklearn.tree import DecisionTreeRegressor
reg2 = DecisionTreeRegressor(max_depth=2, )

In [280]:
reg2.fit(Xtrain, Ytrain)

DecisionTreeRegressor(criterion='mse', max_depth=2, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [281]:
reg2.score(Xtest,Ytest)

0.2586575939127318

Random Forest Regressor

In [0]:
from sklearn.ensemble import RandomForestRegressor
reg3 = RandomForestRegressor(min_samples_split= 5, min_samples_leaf= 20, max_depth=10)

In [283]:
reg3.fit(Xtrain, Ytrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=20, min_samples_split=5,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [284]:
reg3.score(Xtest,Ytest)

0.5438186557228923

In [0]:
from sklearn.model_selection import GridSearchCV
from sklearn import model_selection

In [0]:
test_data = dft.values

In [0]:
y_pred = reg3.predict(test_data)

In [0]:
np.savetxt("Cars_predictions.csv", y_pred, delimiter= ',')
files.download('Cars_predictions.csv')